$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import 'sass-bootstrap/lib/bootstrap';

@import url("http://fnt.webink.com/wfs/webink.css/?project=F4D3C4D5-714E-4DC3-9B43-B715DFE2D422&fonts=4F449915-A3A8-CF9A-BB23-D64A3A9C1A7A:f=SkolarWeb-Italic,E91036C1-9B3E-398B-6BC8-3F30F4412BFB:f=SkolarWeb-Bold,2793B463-660E-EB93-33EC-F2840A3A15BF:f=SkolarWeb-BoldItalic,E3E82DBC-87D6-BA5B-D745-2846E3AA460D:f=SkolarWeb");
$yellow: #EAA239;
$brown: #291A16;
$grey: #C4C0A7;
::selection, ::-moz-selection, ::-webkit-selection { background: $brown; color: white; }
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* 
SkolarWeb
SkolarWeb-Italic
SkolarWeb-Bold
SkolarWeb-BoldItalic
*/

body { padding: 0; margin: 0; font:16px/22px 'SkolarWeb', Times, serif; -webkit-font-smoothing: antialiased;  }
h1, h2, h3, h4 { font:21px/29px 'SkolarWeb', Times, serif;  }
.browsehappy { position: fixed; top:0px; background: white;  }

// NAV STUFF
#nav { position: relative; z-index: 9999; }
.navbar { border:none; margin: 0; background-color: transparent; font-size: inherit; letter-spacing: .1em; text-transform: uppercase; border-radius: 0px; overflow: hidden; }
.navbar-brand { background: $brown; color: white; text-transform: uppercase; font-size: inherit; font-size: .8em; }
.navbar-brand span { text-indent: -9999px; display: inline-block; background: white url('/images/logo-small.png') 0 0 no-repeat; padding: 15px 25px; margin: -15px; margin-right: 15px; }
.navbar-brand span.hidden { display: none; }
.navbar-brand:hover { background: lighten($brown, 5%); color: white; }
.navbar-toggle { z-index: 9999; background: white; background: rgba(255,255,255,.7); outline: none; margin: 0; border-radius: 0px; padding: 13px; }

ul.nav {
	li { background: white; background: rgba(255,255,255,.6); font-size: .8em; -webkit-transition: all ease .2s; -moz-transition: all ease .2s; transition: all ease .2s;
		a { color: $brown; -webkit-transition: all ease .2s; -moz-transition: all ease .2s; transition: all ease .2s; }
	}
	li:hover { background: white;
		a { background: white; }
	}
	li.active { background: $yellow;
		a { color: $brown; }
	}
	li.member a { background: $brown; text-indent: -9999px; width: 50px; background: $brown url('/images/member.png') 0 0 no-repeat; }
	li.member:hover { a { background: lighten($brown, 5%) url('/images/member.png') 0 0 no-repeat; } }
	li.membertext a { margin-right:-160px; -webkit-transition:all ease .2s; -moz-transition:all ease .2s; transition:all ease .2s; }
	li.membertext a.active { margin-right: 0; } 
}



// HOMEPAGE
#slides { position: relative; margin-top: -72px; width: 100%; padding: 0 15px; overflow: hidden;
	.holder { height: 500px; background: url('/images/banner.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
	img { min-width: 100%; width: 100%; min-height: 100%; }
	.titlebox { position: absolute; top: 180px; }
	a#logo {  display: block; width: 115px; height: 160px; background: white url('/images/logo.png') no-repeat; text-indent: -9999px; -webkit-transition: all ease .2s; -moz-transition: all ease .2s; transition: all ease .2s; }
	a#logo:hover { background: white url('/images/logo.png') no-repeat; background: rgba(255,255,255,.8) url('/images/logo.png') no-repeat; }
	h1 { font:48px/54px 'SkolarWeb', Times, serif; color:white; -webkit-text-shadow: 2px 2px 0px $brown; -moz-text-shadow: 2px 2px 0px $brown; text-shadow: 2px 2px 0px $brown; -webkit-text-shadow: 2px 2px 0px rgba($brown, .5); -moz-text-shadow: 2px 2px 0px rgba($brown, .5); text-shadow: 2px 2px 0px rgba($brown, .5); letter-spacing: .5px; }

}

.left { padding: 25px 0 0 10px;
	h2 { color: $brown; }
	a { color: $brown; font:21px/29px 'SkolarWeb-Italic', Times, serif; }
	a:hover { color: lighten($brown, 50%); text-decoration: none; }

	footer { margin-top: 160px; }
	.logo-footer {
		div:first-child { display: block; width:75px; height:100px; background: $yellow url('/images/logo-footer.png') 0 0 no-repeat;  }
		div { float: left; margin-left: 15px; letter-spacing: .1em; text-transform: uppercase; font:.7em/1.3em 'SkolarWeb', Times, sans-serif;   }
		.text { padding-top: 20px; padding-left: 5px; }
	}
}

.right { margin-top: -40px; padding: 15px 40px;
	background: $brown;
	.row { }
	h2 { margin-bottom:20px; color: $yellow; text-transform: uppercase; font-size: 1em; letter-spacing: .1em; }
	a.viewall { color: white; width:110px; text-align: center; margin-top: -60px; right:40px; padding: 5px; position: absolute; text-transform: uppercase; font-size: .9em; letter-spacing: .1em; display: block; border: 1px solid white; -webkit-transition: all ease .2s; -moz-transition: all ease .2s; transition: all ease .2s; }
	a.viewall:hover { background: white; color: $brown; text-decoration: none; }
	.article { padding-right: 10px;
		h4 { color: white; }
		img { margin: 10px 0 15px; width: 95%; }
		p { color: white; }
		a { width:110px; color: white; display: block; text-align: center; padding: 5px; display: block; border: 1px solid white; -webkit-transition: all ease .2s; -moz-transition: all ease .2s; transition: all ease .2s; }
		a:hover { background: white; color: $brown; text-decoration: none; }
	}
	footer.row { margin:0; padding:0; color: white; border-top: 1px solid white; margin-top: 100px; padding-top: 20px; padding-bottom: 60px; }
	footer a, footer p { color: white; text-decoration: none; opacity:.6; -webkit-transition: all ease .2s; -moz-transition: all ease .2s; transition: all ease .2s; }
	footer a:hover { opacity: 1; }
	footer a.home { display: block; text-indent: -9999px; margin-left: -15px; width: 20px; height: 20px; background: url('/images/house.png') no-repeat; }
	footer a.home:hover { opacity: 1; }
}

body.inner { background: $brown;
	#slides { overflow: hidden;
		.holder { height: 200px; background: url('/images/banner.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
		img { min-width: 100%; width: 100%; min-height: 100%; }
	}
	.left { color: white; }
	.left ul { margin: 0; padding: 0; }
	.left li { list-style-type: none; a { font-family: 'SkolarWeb', Times, serif; color:white; -webkit-transition: all ease .2s; -moz-transition: all ease .2s; transition: all ease .2s; } a:hover {  color: $yellow; } }
	.left li.title { text-transform: uppercase; color: $grey; margin-top: 20px; letter-spacing: 0.1em; }
	.left footer { position: absolute; margin-top: 620px;
		.text { color: white; }
	}

	.right { background: white; color: $brown; margin-top: -60px; }
	.right h2 { font:32px/40px 'SkolarWeb-Bold', Times, serif; color: $yellow; text-transform: none; letter-spacing: normal; margin-top: 10px; margin-bottom: 30px; }
	.right .col-md-10 img { margin-bottom: 30px; width: 95%; }
	.right .col-md-10 p { font: 18px/28px 'SkolarWeb', Times, serif; 
		em { font-family: 'SkolarWeb-Italic', Times, serif; }
		strong { font-size: 'SkolarWeb-Bold', Times, serif;  }
	}
	.right footer.row { color: $brown; border-top: 1px solid $brown; 
		a.home { background-image: url('/images/house-dark.png'); }
		p, a { color: $brown; opacity: 1; }
	}
}

@media (max-width: 991px) {
	a.navbar-brand { display: none; }
	ul.nav  { margin-left: -15px; }
	ul.navbar-right { float: left !important; margin-left: 0; }
	li.membertext { display: none; }
	#slides {
		.holder { height:360px; }
		.titlebox { top:130px; width: 100%; }
		.titlebox .container { padding-right: 0; margin: 0; }
		a#logo, h1 { }
		h1 { font-size: 36px; line-height: 42px; }
	}
	.left footer.row { display: none; }
	.right { margin-top: 40px; }
	.article { margin-bottom: 30px; }
	body.inner .left { display: none; }
	body.inner #slides .holder { height: 200px; }
}

@media (max-width: 767px) {
	li.member a { display: none; }
	ul.nav { margin: 0; width: 100%; padding: 0 0 50px 0;
		li { width: 100%; }
	}
	#slides {
		.holder { height:300px; }
		.titlebox { top:90px; }
	}
	.left { padding-right: 40px; padding-left: 40px; }
	.navbar-collapse { width: 70%; padding: 0; margin: -52px 0 0 0 ; }
	body.inner { background: white;
		a.navbar-brand { display: block; }
	}
	body.inner #slides .holder { height: 200px; }
}

@media (max-width: 686px) {
	.left { padding:0 40px; }
	#slides { 
		a#logo { -webkit-transform: scale(.8); -moz-transform: scale(.8); transform: scale(.8); }
		h1 { font-size: 28px; line-height: 36px; margin-top: 40px; margin-left: -30px; }
	} 
	footer.row p { margin-left: -15px; margin-top: 10px; }
}

@media (max-width: 500px) {
	#slides {
		.holder { height:200px; }
		.titlebox { top:30px; }
		a#logo { -webkit-transform: scale(.6); -moz-transform: scale(.6); transform: scale(.6); }
		h1 { font-size: 21px; line-height: 28px; margin-left: -40px; margin-top: 50px; }
	}
	.left { padding:0 40px; }
	#nav { padding-left: 0px; }
	body.inner {
		a.navbar-brand { font-size: .65em; }
		a.navbar-brand span { display: none; }
	}
	body.inner #slides .holder { height: 200px; }
	.right {
		a.viewall { display: none; }
	}
}

@media (max-width: 380px) { 
	.left { padding:0 20px;
		h2, a { font-size: 18px; line-height: 24px; }
	}
	#slides {
		a#logo { -webkit-transform: scale(.5); -moz-transform: scale(.5); transform: scale(.5); }
		h1 { font-size: 16px; line-height:21px; padding-right: 45px; }
		.col-xs-5 { margin-left: -20px; }
	}
	#nav { padding: 0; }
	//ul.nav { padding-bottom: 5px; }
	.right { padding: 5px 20px; }
}